version: "3.9"

services:
  backend:
    build: ./be
    container_name: nestjs-backend
    ports:
      - "5000:5000"
    volumes:
      - ./be:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: always
    networks:
      - app-network

  frontend:
    build: ./fe
    container_name: nextjs-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./fe:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge