@import '@/assets/sass/variables/colors.scss';

.auth {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: $authBg;

    .left {
        background: $authBg;
        border-radius: 30px;
        height: 95vh;
        display: flex;
        align-items: center;

        .content {
            padding: 0 30px;

            img {
                width: 100%;
                margin-bottom: 30px;
            }

            p {
                font-size: 23px;
                text-align: center;
            }
        }
    }

    .right {
        height: 95vh;
        background: $white;
        display: flex;
        align-items: center;
        border-radius: 20px;
        justify-content: center;

        .content {
            padding: 0 40px;
            gap: 8px;

            .heading {
                margin-bottom: 20px;

                img {
                    margin-bottom: 15px;
                }

                h1 {
                    font-size: 22px;
                    margin-bottom: 5px !important;
                }

                p {
                    font-size: 17px;
                }
            }

            .social {
                margin-top: 10px;

                button {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}