@import '@/assets/sass/variables/fonts.scss';

.font-100 {
    font-weight: $font-w-100;
}

.font-200 {
    font-weight: $font-w-200;
}

.font-300 {
    font-weight: $font-w-300;
}

.font-400 {
    font-weight: $font-w-400;
}

.font-500 {
    font-weight: $font-w-500;
}

.font-600 {
    font-weight: $font-w-600;
}

.font-700 {
    font-weight: $font-w-700;
}

.font-800 {
    font-weight: $font-w-800;
}

.font-900 {
    font-weight: $font-w-900;
}