@import '@/assets/sass/variables/colors.scss';
@import '@/assets/sass/variables/fonts.scss';

.table-wrapper {
    .table-header {
        padding: 12px 0;

        h2 {
            font-size: 16px;
            font-weight: 600;
        }

        .action {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px !important;

        }

        .action-col {
            display: flex;
            align-items: start;
            justify-content: start;
            font-size: 14px !important;

        }

        button {
            font-size: 14px !important;
        }

        span {
            font-size: 14px !important;
        }
    }

    .table-body {
        width: 100%;
        overflow: auto;
        margin-right: auto;
        margin-left: auto;

        .ant-table-thead {
            .ant-table-cell {
                font-size: 14px !important;
                font-weight: $font-w-600;
            }
        }

        .ant-table-tbody {
            overflow: auto;

            .ant-table-row {
                font-size: 14px !important;

            }

            .ant-table-tbody::-webkit-scrollbar {
                width: 2px;
                height: 2px !important;
            }

            .ant-table-tbody::-webkit-scrollbar-track {
                background-color: #e1e6e6;
            }

            .ant-table-tbody::-webkit-scrollbar-thumb {
                border-radius: 6px;
                background-color: green;
            }

            .action {
                button {
                    font-size: 14px !important;
                    border: none;
                    box-shadow: none;
                    background: none;
                }
            }
        }
    }
}

@media screen and (max-width : 768px) {
    .table-header {

        h2 {
            font-size: 14px;
        }

        .action {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .action-col {
            display: flex;
            align-items: start;
            justify-content: start;
        }

        button {
            font-size: 14px !important;
        }

        input {
            font-size: 14px !important;
        }
    }

    .table-body {
        width: 100%;
        height: 100%;

        .ant-table-thead {
            .ant-table-cell {
                color: $foregroundAlt;
                font-size: 14px;
                font-weight: $font-w-400;
            }
        }

        .ant-table-tbody {
            .ant-table-row {
                font-size: 14px;
            }

            .action {
                button {
                    font-size: 14px !important;
                    border: none;
                    box-shadow: none;
                    background: none;
                }
            }
        }
    }
}