@import '@/assets/sass/variables/colors.scss';
@import '@/assets/sass/variables/fonts.scss';


.loading {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
    margin: 20px 0 !important;

    span {
        margin-right: 15px;
    }
}