@import '@/assets/sass/variables/colors.scss';
@import '@/assets/sass/variables/fonts.scss';

.collapse-wrapper {

    .collapse-header {
        padding: 12px 0;

        h2 {
            font-size: 20px;
        }

        .action {
            margin-top: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .collapse-body {
        .ant-table-thead {
            .ant-table-cell {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: $font-w-400;
            }
        }

        .ant-table-tbody {
            .ant-table-row {
                font-size: 14px;
            }

            .action {
                button {
                    border: none;
                    box-shadow: none;
                    background: none;
                    font-size: 14px !important;
                }
            }
        }
    }
}