// THEME
$main: #1b99d5;
$white: #FFFFFF;
$black: black;


// Samudera Color Guideline
$primary : #FDB913;
$onPrimary : #0A0A0A;
$secondary : #ED1C24;
$onSecondary : #FFFFFF; 

$background : #FFF;
$foreground : #0A0A0A;
$backgroundAlternative : #FAFAFA;
$foregroundAlternative : #BCBEC0;
$border : #EFEFEF;
$borderField : #DCDCDC;
$placeHolder : #BCBEC0;

// SIDEBAR
// $sidebar: #FAFAFA;
$sidebar: $white;
$sidebarBorder: #ECEEEF;

// AUTH
$authBg: #E3F3FC;

// FOREGROUND
$foreground: #292929;
$foregroundAlt: #656565;

// BORDER
$border: #EFEFEF;

// INPUT
$input: #DCDCDC;

// DELETE
$deleteBg: #FEF4F4;
$deleteIcon: #ED1C24;

// CANCEL BUTTON
$cancelBtnBg: #EAEAEA;

// REQUIRED FORM
$requiredForm: red;